h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 280301200-02 - Caracterizar el proyecto audiovisual según requisitos legales y fuentes de financiación. 