.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Claqueta:
            | pizarra que lleva escrito el título de la película, el del Director y el del Director de Fotografía, además de unas casillas libres en las que se escribe el número de secuencia, de plano y de toma. 

        p
            strong.mr-2 Continuidad:
            | en el guion la película está en orden de escena por escena, pero en el rodaje se reorganiza generalmente por locación y por lo tanto, es indispensable verificar la coherencia entre los elementos de un plano y los de los siguientes. 

        p
            strong.mr-2 Decorados:
            | espacios artificiales construidos con diversos materiales y en especial de cartón-piedra y madera que simulan lugares reales.