.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Ministerio de Cultura, (2020), Convocatorias 2020.
                    td Texto convocatoria
                    td 
                        a(href="https://www.mincultura.gov.co/areas/cinematografia/convocatorias/Paginas/default.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Proimágenes Colombia, (2020), Del cine colombiano tenemos mucho que contar

                    td Texto convocatoria
                    td 
                        a(href="https://convocatoriafdc.com/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Ministerio de Cultura, Dirección de Impuestos y Aduanas Nacionales (DIAN) y Proimágenes Colombia, (2007), La Ley de Cine para inversionistas y donantes.
                    td Documento
                    td 
                        a(href="https://www.mincultura.gov.co/SiteAssets/documentos/migracion/DocNewsNo1499DocumentNo1852.PDF", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                     