.container#page-tema-3

    .header-ecored
      h1 3.	Plan de promoción de un proyecto audiovisual

    .jumbotron.bg-white 

      .row.justify-content.my-5 
        p El plan de promoción es un documento en el que se describe toda la estrategia de lanzamiento de un proyecto audiovisual. Cada actividad allí planteada debe responder a un análisis cuidadoso del público objetivo, de sus gustos, hobbies, poder adquisitivo, horarios, etc. 

      .row
        .col-12
          .header-arrow
            h3.text-center El documento deberá estar compuesto por las siguientes secciones: 

      .row.justify-content-center.mt-5
          .col-10.col-md-8
              .card-media
                  .card-media__body                 
                      figure.card__figure
                          img(src="assets/images/pages/ilustraciones/Imagen1.svg").img-fluid
                      p.card__copy 
                          span 
                              | #[strong Mercadeo:] es donde se plasman las actividades que se van a realizar, previo al lanzamiento de la película, para garantizar que el público objetivo escuche de ella y la vea. Algunas veces estas acciones inician junto con el rodaje de la película y bastan con la creación de perfiles en redes sociales en los que se va dando información sobre el avance del rodaje.
      .row.justify-content-center.mt-5
          .col-10.col-md-8
              .card-media
                  .card-media__body                 
                      figure.card__figure
                          img(src="assets/images/pages/ilustraciones/Imagen2.svg").img-fluid
                      p.card__copy 
                          span 
                              | #[strong Publicidad:] es donde se incluyen las ideas que el productor y distribuidor desean llevar a cabo para el estreno de la película en una sala de cine o en una ventana de exhibición alternativa. Dependiendo de los recursos se puede recurrir a publicidad pagada como eventos, impresión de postales y afiches, vallas, pautas, etc. o gratuita como intercambios con marcas. 




