.container#page-tema-2

    .header-ecored
      h1 2. Estructura y cronograma de un proyecto audiovisual

    .jumbotron.bg-white 

      .row.justify-content.my-5 

        p Otra de las actividades es definir qué se debe hacer, cuándo y quién lo debe hacer y para esto, primero se deben conocer los diferentes roles dentro de la producción audiovisual:

      .row.justify-content-center.align-items-center.my-5
        .d-none.d-lg-block  
          img(src="assets/images/pages/tema-2/Imagen1.svg", alt="").img-fluid
          img(src="assets/images/pages/tema-2/Imagen2.svg", alt="").img-fluid
          img(src="assets/images/pages/tema-2/Imagen3.svg", alt="").img-fluid
          img(src="assets/images/pages/tema-2/Imagen4.svg", alt="").img-fluid
          img(src="assets/images/pages/tema-2/Imagen5.svg", alt="").img-fluid
        .d-lg-none  
          img(src="assets/images/pages/tema-2/Imagen1Celular.svg", alt="").img-fluid
          img(src="assets/images/pages/tema-2/Imagen2Celular.svg", alt="").img-fluid
          img(src="assets/images/pages/tema-2/Imagen3Celular.svg", alt="").img-fluid
          img(src="assets/images/pages/tema-2/Imagen4Celular.svg", alt="").img-fluid
          img(src="assets/images/pages/tema-2/Imagen5Celular.svg", alt="").img-fluid

      .row.justify-content.my-5 

        p Una producción puede tener equipos más grandes o pequeños dependiendo de sus necesidades y del tiempo con el que se cuente para la realización. El equipo de posproducción varía, pero en general cuenta con un editor, un diseñador de sonido y un laboratorio.

      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ugga2uYEqsY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')