.container#page-tema-1

    .header-ecored
        h1 1. Fuentes de financiación

    .jumbotron.bg-white 

      .row.justify-content.my-5 

        p Para la producción de un proyecto, lo primero que se requiere son recursos económicos que pueden proceder de diversas fuentes así:

        p #[strong Fondos propios:] son los primeros con los que se cuenta y aunque nunca serán suficientes, son fundamentales para avanzar en la búsqueda de recursos adicionales.

        p #[strong Fondos cinematográficos:] son recursos generalmente públicos, entregados a través de concursos o convocatorias públicas para apoyar la ejecución de los proyectos en diferentes etapas.
      .row
        .col-12
          .header-arrow
            h3.text-center Algunos fondos nacionales son:

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/ilustraciones/arrow.svg").img-fluid
              p.mb-0 Programa Distrital de Estímulos de la Secretaría de Cultura, Recreación y Deporte (SCRD), de la Alcaldía de Bogotá.
      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/ilustraciones/arrow.svg").img-fluid
              p.mb-0 Programa Nacional de Estímulos del Ministerio de Cultura.
      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/ilustraciones/arrow.svg").img-fluid
              p.mb-0 Convocatorias Fondo Para el Desarrollo Cinematográfico, a través de Proimágenes Colombia.
      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/ilustraciones/arrow.svg").img-fluid
              p.mb-0 Convocatoria para Estímulos Cinematográficos y Audiovisuales de la Secretaría de Desarrollo Económico de Medellín y la Comisión Fílmica.

      .row
        .col-12
          .header-arrow.my-5
            h3.text-center Algunos fondos internacionales son:

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/ilustraciones/arrow.svg").img-fluid
              p.mb-0 Programa Ibermedia: es un programa de estímulos a la coproducción de películas de ficción y documentales que se realicen en la comunidad conformada por Argentina, Bolivia, Brasil, Colombia, Costa Rica, Cuba, Chile, Ecuador, España, Guatemala, México, Panamá, Paraguay, Perú, Portugal, Puerto Rico, República Dominicana, Uruguay y Venezuela.
      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/ilustraciones/arrow.svg").img-fluid
              p.mb-0 Hubert Bals - Festival de Rotterdam: apoya largometrajes de ficción o documentales en las modalidades de desarrollo (escritura de guion y desarrollo de proyectos), posproducción o financiación final, distribución y ventas.
      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/ilustraciones/arrow.svg").img-fluid
              p.mb-0 IDFA Bertha Fund: apoya proyectos documentales innovadores de cineastas de África, Asia, América Latina, Oriente Medio y partes de Europa del Este, a través de subvenciones de desarrollo, producción y distribución.

      .row.justify-content-center.align-items-center.my-5 

        p #[strong Crowdfunding:] es una forma de financiación muy utilizada en el sector creativo, consiste en pequeñas donaciones a cambio de recompensas económicas o en especie relacionadas con el proyecto que se apoya. Aunque no garantiza la consecución de grandes montos de dinero, si permite acercarse de forma directa al público objetivo.

        p #[strong Inversionistas:] las empresas, cuyo objeto social sea diferente a la producción audiovisual, pueden apoyar el desarrollo de la industria cinematográfica nacional a través de la inversión de recursos en películas colombianas y como contraprestación recibir los siguientes beneficios:

        ol
            li Imagen corporativa: ubicación de productos, servicios y nombres de las empresas en la película. Esta forma de publicidad es conocida en Colombia como colaterales (en inglés product placement).
            li Ingresos por explotación en salas de cine: negociación de un porcentaje de la taquilla para recuperar con ganancias el dinero que ha sido invertido.
            li Ingresos por explotación en otras ventanas: negociación de un porcentaje de los ingresos por la explotación de la película en otras ventanas como la televisión y el home video.
            li Beneficio tributario: es un mecanismo de la Ley de Cine que permite deducir de la renta el ciento sesenta y cinco por ciento (165 %) del valor invertido o donado (Ley 814/03, Artículo 16, modificado por Art. 195 de la Ley 1607/12).

        p #[strong Fondos de Capital Privado y de Emprendimiento:] conformados por recursos de empresas que no cotizan en el mercado de valores. Entregan el dinero por un período de duración fijo del sector donde se esté haciendo la inversión. Adicionalmente, pueden entregar contactos, infraestructura, conocimiento, etc.

        p #[strong Instituciones Financieras:] es la fuente de financiación habitual para las pequeñas y medianas empresas; sin embargo, para el sector audiovisual no siempre es la más adecuada, ya que no ofrecen productos especializados que respondan a las características propias del sector. 

        p Un proyecto puede obtener financiación de una, varias o todas las fuentes aquí descritas. Lo importante es que los compromisos que se adquieran con cada una de ellas no sean contradictorios entre sí y se cumplan a cabalidad.








